<div>

  <h3>Formulario de editar</h3>

  <form action="/book/{{this.oneBook._id}}/update" method="post">

    <label for="title">Título</label>
    <input type="text" name="title" value="{{this.oneBook.title}}">

    <br>

    <label for="description">Descripción</label>
    <input type="text" name="description" value="{{this.oneBook.description}}">

    <br>

    <label for="author">Autor</label>
    {{!-- <input type="text" name="author" value="{{this.oneBook.author}}"> --}}

    <select name="author" multiple>

      {{#each this.allAuthors}}

        {{#if this.isSelected}}
          <option value="{{this._id}}" selected>{{this.name}}</option>
        {{else}}
          <option value="{{this._id}}">{{this.name}}</option>
        {{/if}}

      {{/each}}

    </select>

    <br>

    <button>Actualizar</button>

  </form>

</div>